<main role="main">

  <section class="jumbotron text-center">
    <div class="container mt-4">
      <h1>Portfolios Generator</h1>
      <p class="lead text-muted">Hello and welcome to <font color="#0193FF">Portfolios Generator</font>, here you can create your portfolio in an easy way and for free!</p>
      <p>
        {% if request.user.is_authenticated %}
          <a href="{% url 'users:profile_form' %}" class="btn btn-primary my-2">Create a new portfolio</a>
        {% else %}
          <a href="{% url 'users:login' %}" class="btn btn-primary my-2">Create a new portfolio</a>
        {% endif %}
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
    {% if profile %}
      <div class="row">
        {% for p in profile.all %}
          {% if not p.user.is_superuser %}
            <div class="col-xm-1 col-sm-2 col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="{{ p.profile_pic.url }}" alt="user pic" height="200">
                <div class="card-body">
                  <li class="{{ p.country.flag_css }}"></li>
                  <h3><a href="{% url 'users:user_profile' p.slug %}">{{ p.user.first_name }} {{ p.user.last_name }}</a></h3>
                  <p class="card-text">{{ p.summary }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary mr-2" href="{% url 'users:user_profile' p.slug %}">View</a>
                      {% if request.user == p.user %}
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'users:delete_portfolio' p.id %}">Delete</a>
                      {% endif %}
                    </div>
                    <small class="text-muted">{{ p.creation_date }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info btn-4 mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info btn-4 mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for page_num in page_obj.paginator.page_range %}
            {% if page_num == page_obj.number %}
              <a class="btn btn-info btn-4 mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info btn-4 mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info btn-4 mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info btn-4 mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
    {% endif %}
    </div>
  </div>
</main>
