{% extends "base.html" %}

{% block content %}

<main>
  <section>
    <div class="row ml-3 mr-3">
      <div class="col-xs-10">
        <div class="card mt-2">
          <h1 align="center" class="text-secondary">{{ job.title }}</h1>
          <div  align="center" class="card-body">
            <img src="{{ job.image.url }}" alt="img" height="450">
          </div>
        </div>
        <div class="card mt-2">
          <div  align="center" class="card-body">
            {% if job.body %}
              <p>{{ job.body }}</p>
            {% endif %}
            {% if job.url %}
              <p>Link: <a class="test-info" href="{{ job.url }}">Click Here</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<style media="screen">
  main {
    background-color: #f2f2f2;
  }
</style>

{% endblock %}
