{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
      <div class="card mt-4">
        <div class="card-body">
          <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-warning" type="submit" value="update">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen">
  main {
    background-color: #f2f2f2;
  }
</style>

{% endblock %}
